.main {
  display: flex;
  flex-direction: column;

  width: 350px;
  max-width: 97%;
}
.main button,
.main input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 7px;
  outline: none;
  border: none;
}
.main input {
  box-shadow: 0px 0px 5px grey;
}
.main button {
  color: black;
  background-color: rgb(229, 58, 92);
  cursor: pointer;
}
.main button:disabled {
  cursor: not-allowed;
  background-color: grey;
}
.error {
  margin-top: 20px;
  font-weight: bold;
}
